@charset "utf-8";
body {
	background-color:#ffffff;
}
.wrapper {
	background-color: #ffffff;
}
/***** Header Section **********/
.header {
	background-color: #ffffff;
}
.menubar {
	background-color: #2a6014;
}
.signintomyesurance a {
	color: #295716;	
}
.menubar-inner ul.navbar-nav > li.active > a, 
.menubar-inner ul.navbar-nav > li > a:active, 
.menubar-inner ul.navbar-nav > li > a:hover{
    color: #2a6014;
    background-color: #eee;
}
/***** End of Header Section **********/
/***** Footer Section **********/
.footer {
	background-color: #2a6014;
}
.footerlinks a{
	color: #ffffff;
}
.seperator p{
	color: #ffffff;
}
/***** End of Footer Section **********/
