@charset "utf-8";
.caption {
    color: #FFF;
}
.insurancecovers {
	background-color:#ffffff;
}
.coverheading a{
	color: #ffffff;
}
.covercontent p{
	color: #aca9a9;	
}
.getquotebox1 a{
	color: #ffffff;
}
.getquotebox2 a{
	color: #ffffff;
}
.getquotebox3 a{
	color: #ffffff;	
}
.getquotebox4 a{
	color: #ffffff;	
}
.getquotebox5 a{
	color: #ffffff;
}