<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="wrapper container">
    <div class="header">
    	<div class="header-inner row">
        	<div class="logobox col-md-3 col-sm-12 col-xs-12">
            	<div class="logo">
        			<img src="images/logo.png" width="225px" height="94px"/>
        		</div>
            </div>
        	<div class="usersection col-md-3 col-sm-12 col-xs-12">
            	<div class="selectclaim">
                    <a href="/index.php/selectclaim">Select Claim</a>
            	</div>
            	<div class="go">
                    <a href="/index.php/go">GO</a>
                </div>
                <div class="signintomyesurance">
                    <a href="/index.php/signintonyesurance">Sign into my Esurance</a>
            	</div>
            </div>
         </div>
    </div>
    <div class="menubar">
    	<div class="menubar-inner row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div>
    	</div>
    </div>
    <div class="banner row">
    	<div class="bannerimage col-md-12 col-sm-12 col-xs-12">
      		<img alt="" class="img-responsive" src="images/bannerimage.jpg"/>
            <div class="caption">
                <h1>Simplify Insurance</h1>
            </div>
        </div>
    </div>
    <div class="insurancecovers">
    	<div class="insurancecovers-inner row">
      		<div class="insurancecover1 col-md-2 col-sm-6 col-xs-12">
      			<div class="insurancebackground1">
        			<div class="insurance">
        				<img src="images/motorinsurance.png" width="138px" height="137px"/>
       				</div>
            		<div class="coverheading">
            			<a href="/index.php/motorinsurance">Motor<br/>Insurance</a>
                    </div>
            		<div class="covercontent"><p>•  Get Motor Quote <br>•  Retrieve Motor Quote</p>
                    </div>
        		</div>
        		<div class="getquotebox1">
        			<a href="/index.php/getquote">GET QUOTE</a>
        		</div>
      		</div>
      		<div class="insurancecover2 col-md-2 col-sm-6 col-xs-12">
      			<div class="insurancebackground2">
        			<div class="domesticpackage">
        				<img src="images/domesticpackage.png" width="138px" height="136px"/>
       				</div>
            		<div class="coverheading">
            			<a href="/index.php/domesticpackage">Domestic<br/>Package</a>
                    </div>
            		<div class="covercontent"><p>•  Get Domestic Quote <br>•  Retrieve Domestic Quote</p>
                    </div>
        		</div>
        		<div class="getquotebox2">
        			<a href="/index.php/getquote">GET QUOTE</a>
        		</div>
      		</div>
      		<div class="insurancecover3 col-md-2 col-sm-6 col-xs-12">
      			<div class="insurancebackground3">
        			<div class="medicalcover">
        				<img src="images/medicalcover.png" width="138px" height="136px"/>
       				</div>
            		<div class="coverheading">
            			<a href="/index.php/medicalcover">Medical<br/>Cover</a>
                    </div>
            		<div class="covercontent"><p>•  Get Medical Quote <br>•  Retrieve Medical Quote</p>
                    </div>
        		</div>
        		<div class="getquotebox3">
        			<a href="/index.php/getquote">GET QUOTE</a>
        		</div>
      		</div>
      		<div class="insurancecover4 col-md-2 col-sm-6 col-xs-12">
      			<div class="insurancebackground4">
        			<div class="travelinsurance">
        				<img src="images/travelinsurance.png" width="138px" height="136px"/>
       				</div>
            		<div class="coverheading">
            			<a href="/index.php/travelinsurance">Travel<br/>Insurance</a>
                    </div>
            		<div class="covercontent"><p>•  Get Travel Quote <br>•  Retrieve Travel Quote</p>
                    </div>
        		</div>
         		<div class="getquotebox4">
         			<a href="/index.php/getquote">GET QUOTE</a>
         		</div>
      		</div>
      		<div class="insurancecover5 col-md-2 col-sm-6 col-xs-12">
      			<div class="insurancebackground5">
        			<div class="personalaccident">
        				<img src="images/personalaccident.png" width="138px" height="136px"/>
       				</div>
            		<div class="coverheading">
            			<a href="/index.php/personalaccident">Personal<br/>Accident</a>
                    </div>
            		<div class="covercontent"><p>•  Get Accident Quote <br>•  Retrieve Accident Quote</p>
                    </div>
        		</div>
        		<div class="getquotebox5">
        			<a href="/index.php/getquote">GET QUOTE</a>
        		</div>
      		</div>
    	</div>
    </div>
    <div class="footer">
    	<div class="footer-inner row">
      		<div class="logo2 col-md-2 col-sm-12 col-xs-12">
            	<img src="images/logo2.jpg" width="202px" height="105px"/>
            </div>
      		<div class="footerlinks col-md-7 col-sm-12 col-xs-12">
           		<a href="/index.php/aboutus">ABOUT US</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/motor">MOTOR</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/domesticpackage">DOMESTIC PACKAGE</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/medical">MEDICAL</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/travel">TRAVEL</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/personalaccident">PERSONAL ACCIDENT</a>
                <div class="seperator2"><p>|</p></div>
                <a href="/index.php/blog">BLOG</a> 
            </div>
      		<div class="socialmedia col-md-3 col-sm-6 col-xs-12">
                	<a href="/facebook"><img src="images/facebook.jpg" width="43px" height="45px"/></a>
                	<a twitter="/twitter"><img src="images/twitter.jpg" width="43px" height="45px"/></a>
                	<a href="/blog"><img src="images/blog.jpg" width="43px" height="45px"/></a>
                	<a href="/google+"><img src="images/google+.jpg" width="43px" height="45px"/></a>
            </div>
    	</div>
    </div>
</div>
</body>
</html>
