<?php
use Jenga\App\Views\HTML;

HTML::start();
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/admin_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="top">
  <div id="logo"><img src="images/esurance_logo.png" width="215" height="75" /></div>
  <div id="logout"><img src="images/profilepic.png" width="43" height="41" /></div>
</div>
<div id="navigation">
	<ul class="nav">
    	<li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/dashboard_navicon.png" width="45" height="45" /> 
            </span>
            <span class="text">
            DASHBOARD </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem"> 
            <span class="img">
            <img src="images/customers_navicon.png" width="45" height="45" /> 
            </span>
            <span class="text">
            SUBSCRIBERS 
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/policies_navicon.png" width="48" height="45" /> 
            </span>
            <span class="text">
            POLICIES 
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/companies_navicon.png" width="48" height="45" /> 
            </span>
            <span class="text">
            COMPANIES
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/agents_navicon.png" width="48" height="45" /> 
            </span>
            <span class="text">
            AGENTS
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/financials_navicon.png" width="45" height="45" /> 
            </span>
            <span class="text">
            FINANCIALS 
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/frontend_navicon.png" width="45" height="45" /> 
            </span>
            <span class="text">
            FRONTEND 
            </span>
            </a>
        </li>
        <li>
        	<a href="#" class="navitem">
            <span class="img">
            <img src="images/reports_navicon.png" width="45" height="45" /> 
            </span>
            <span class="text">
            REPORTS 
            </span>
            </a>
        </li>
    </ul>
</div>
<div class="content-container">
</div>
</body>
</html>
